SEED Benchmark/mulesoft/src/main/app/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.8/mule-spring-security.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<spring:beans>
        <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
    </spring:beans>
	<context:property-placeholder location="oei.properties" />
	<vm:endpoint exchange-pattern="one-way" path="deadletterqueue"
		name="VM.DLQ" doc:name="VM" />
	<queued-asynchronous-processing-strategy
		name="Queued_Asynchronous_Processing_Strategy" maxThreads="1"
		doc:name="Queued Asynchronous Processing Strategy" />

	<cxf:configuration name="CXF_Configuration"
		enableMuleSoapHeaders="true" initializeStaticBusInstance="true"
		doc:name="CXF Configuration" />
	 <sfdc:config name="Testbed-Salesforce" username="${salesforce.user}" password="${salesforce.password}" securityToken="${salesforce.token}" url="${salesforce.url}" doc:name="Salesforce">
        <sfdc:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </sfdc:config>
    <http:request-config name="SEED_API" protocol="${SEED.protocol}" host="${SEED.url}" port="${SEED.port}" basePath="/api/v2" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="${SEED.user}" password="${SEED.apikey}" preemptive="true"/>
    </http:request-config>

	<flow name="DeadLetterFlow">
		<vm:inbound-endpoint exchange-pattern="one-way"
			doc:name="VM" ref="VM.DLQ" />
		<logger message="Current Payload: #[payload]" level="INFO"
			doc:name="Logger" />
		<choice doc:name="Choice">
			<when
				expression="#[exception.causedBy(org.mule.routing.CompositeRoutingException)]">
				<foreach collection="#[exception.getExceptions().values()]"
					doc:name="For Each">
					<logger
						message="#[groovy: new com.psdconsulting.RootException(payload).toString()]"
						level="INFO" doc:name="Logger" />
				</foreach>
			</when>
			<otherwise>
				<logger message="Exception: #[exception]" level="INFO"
					doc:name="Logger" />
			</otherwise>
		</choice>
		<smtp:outbound-endpoint host="${email.host}"
			user="${email.user}" password="${email.password}" to="${email.recipient}"
			from="${email.sender}" subject="${email.subject}" responseTimeout="10000"
			doc:name="SMTP" />
	</flow>

</mule>
