SEED Benchmark/OEI/errorhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <vm:connector name="Queue" queueTimeout="120000" validateConnections="true" doc:name="VM"/>
	<flow name="ErrorHandler">
        <expression-filter expression="${sendErrorEmail} == 'true'" doc:name="Expression"/>
            	<set-payload value="#[flowVars.ErrorLog]" doc:name="Set Payload: capture exception" doc:description="Set the payload to the exception details for processing"/>

			<logger message="Current Payload: #[payload]" level="INFO" doc:name="Logger: Capture payload" doc:description="Log the details"/>
        <smtp:outbound-endpoint host="${email.host}" user="${email.user}" password="${email.password}" to="${email.recipient}, ${email.internal}" from="${email.sender}" subject="${email.subject}" responseTimeout="10000" doc:name="SMTP: Outbound email exception" doc:description="Mail the exception which has been caught and logged to a configured recipient"/>
	</flow>

</mule>
